* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #181818;
  font-size: 14px;
  color: white;
}

#fps {
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  color: white;
  font-size: 14px;
  padding: 2px 4px;
}

canvas {
  user-select: none;
}

#statistic {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  text-align: left;
  padding: 2px 4px;
}

.progress {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 6px 0;
  overflow: hidden;
}
.progress-bar {
  will-change: transform;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.health {
  background: #7b0000;
  border: 1px solid #7b0000;
}
.health-bar {
  background: red;
}

.bonuses {
  margin-top: 4px;
}
.bonus-container {
  color: white;
}
.bonus {
  margin-top: 0;
  height: 10px;
  background: #625d2a;
  border: 1px solid #e7dc6d;
}
.bonus-name {
  margin-top: 2px;
}
.bonus-bar {
  background: #ffcd00;
}
